# Ignore everything inside build/
build/*

# But not this directory
!build/outputs/
!build/outputs/apk/
!build/outputs/apk/debug/

# Allow all files inside build/outputs/apk/debug
!build/outputs/apk/debug/**